<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Login</title>
        <style>
              body {
                padding: 50px;
                font: 13px Helvetica, Arial, sans-serif;
              }
              .msg {
                  color: red
              }
            </style>
    </head>
    <body>
        <h2>
            Login to your Particle Account
        </h2>
        <%- message %>
        <form action="/login" method="post">
            <div class="container">
                <label><b>Particle Username</b></label> <input type="text" placeholder="Enter Username" name="username" required=""><br>
                <label><b>Particle Password</b></label> <input type="password" placeholder="Enter Password" name="password" required=""><br>
                <button type="submit">Login</button>
            </div>
        </form>
        <br>
        NOTE: WebSockets will only work if you load your page over HTTP (not HTTPS).
    </body>
</html>
